@import url('https://fonts.googleapis.com/css?family=Poppins:400,700,900');

/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* Body Styles */
body {
    font-family: 'Poppins', sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
}

/* Header Styles */
header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding-top: 30px;
}

/* Main Content Styles */
main {
    display: flex;
    align-items: flex-start;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: margin-left 0.3s;
    margin-left: 250px; /* Sesuaikan dengan lebar sidebar */
    max-width: calc(100% - 250px); /* Maksimum lebar konten utama */
}

/* H2 Styles for Attendance List */
.attendance-list h2 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
}

.course-list h2 {
	margin-bottom: 20px;
	margin-left: 50px;
}

.course-list table {
	margin-left: 50px;
}

/* Table Styles */
table {
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 10px;
    text-align: left;
}

th {
    background-color: #333;
    color: #fff;
}

/* Even Rows Background */
tr:nth-child(even) {
    background-color: #f2f2f2;
}

/* Sidebar Styles */
.sidebar {
    height: 100%;
    width: 250px;
    position: fixed;
    top: 0;
	left: -250px;
    background-color: #333;
    color: #fff;
    padding: 20px;
    display: flex;
    flex-direction: column;
    transition: left 0.3s; /* Tambahkan efek transisi */
}

/* Sidebar H2 Styles */
.sidebar h2 {
    text-align: center;
    margin-bottom: 20px;
}

/* Sidebar UL Styles */
.sidebar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

/* Sidebar LI Styles */
.sidebar li {
    margin-bottom: 10px;
}

/* Sidebar A Styles */
.sidebar a {
    text-decoration: none;
    color: #fff;
}

/* User Profile Styles */
.user-profile {
    text-align: center;
}

/* User Profile Image Styles */
.user-profile img {
    width: 100px;
    height: 100px;
    border-radius: 50%; /* Ini akan membuat gambar menjadi lingkaran */
    margin: 0 auto 10px; /* Mengatur margin bawah agar nama pengguna tetap di tengah */
}

/* Right-Align Styles */
.right-align {
    font-size: 1.2em;
    text-align: center;
	padding-bottom: 10px;
}
