<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="presensi-course.css" />
    <link rel="stylesheet" href="SideMenu_Navbar.css" />
    <title>Presensi Course</title>
  </head>

  <body>
    <!-- Sidebar -->
    <div class="sidebar">
      <a href="#" class="logo">
        <img src="images/logo.png" alt="Logo SmarTandance" />
        <div class="logo-name"><span>Smar</span>Tendance</div>
      </a>
      <ul class="side-menu">
        <li>
          <a href="index.html"><i class="bx bxs-dashboard"></i>Dashboard</a>
        </li>
        <li>
          <a href="course.html"><i class="bx bxs-graduation"></i>Course</a>
        </li>
        <li>
          <a href="registrasi.html"><i class="bx bx-group"></i>Registrasi</a>
        </li>
        <li>
          <a href="#"><i class="bx bxs-door-open"></i>Kelas</a>
        </li>
        <li class="active">
          <a href="presensi-course.html"
            ><i class="bx bx-data"></i>Rekap Absensi</a
          >
        </li>
        <li>
          <a href="#"><i class="bx bx-cog"></i>Settings</a>
        </li>
      </ul>
      <ul class="side-menu">
        <li>
          <a href="#" class="logout" id="logout-button">
            <i class="bx bx-log-out-circle"></i>
            Logout
          </a>
          <div class="confirmation-modal" id="confirmation-modal">
            <div class="modal-content">
              <h2>Logout Confirmation</h2>
              <p>Apakah Anda yakin ingin logout?</p>
              <div class="modal-buttons">
                <button id="confirm-logout">Ya</button>
                <button id="cancel-logout">Tidak</button>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
    <!-- End of Sidebar -->

    <!-- Main Content -->
    <div class="content">
      <!-- Navbar -->
      <nav>
        <i class="bx bx-menu"></i>
        <form action="#">
          <div class="form-input">
            <input type="search" placeholder="Search..." />
            <button class="search-btn" type="submit">
              <i class="bx bx-search"></i>
            </button>
          </div>
        </form>
        <input type="checkbox" id="theme-toggle" hidden />
        <label for="theme-toggle" class="theme-toggle"> </label>
        <a href="#" class="profile">
          <img src="images/profile_logo.png" />
        </a>
      </nav>

      <!-- End of Navbar -->

      <main>
        <div class="header">
          <div class="left">
            <h1>Rekap Absensi</h1>
            <ul class="breadcrumb">
              <a href="rekap_absen.html"><li>Rekap Absensi</li></a>
              /
              <li><a href="" class="active">Lihat</a></li>
            </ul>
          </div>
        </div>

        <!-- Tabel Course Terdaftar -->
        <div class="bottom-data">
          <div class="orders">
            <div class="header">
              <i class="bx bx-table"></i>
              <h3>Sistem Embedded - TMJ 3B</h3>
              <div class="tambah">
                <a href="view-mhsw.html" class="plus completed"
                  ><i class="bx bxs-user"></i
                  ><span>Mahasiswa Tergabung</span></a
                >
              </div>
              <div class="filter-dropdown">
                <select id="data-filter">
                  <option value="5">5</option>
                  <option value="10">10</option>
                  <option value="15">15</option>
                </select>
                <i class="bx bx-filter"></i>
              </div>
              <input
                type="search"
                placeholder="Search..."
                class="search-input"
              />
              <button class="search-btn" type="submit">
                <i class="bx bx-search"></i>
              </button>
            </div>
            <table>
              <thead>
                <tr>
                  <th>Tanggal</th>
                  <th>Jam Kuliah</th>
                  <th>Dosen</th>
                  <th>Status</th>
                  <th>Aksi</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Kamis, 21 Sep 2023</td>
                  <td>12.30 - 17.45</td>
                  <td>Prihatin Oktivasari</td>
                  <td class="keterangan terlaksana">Terlaksana</td>
                  <td class="edit">
                    <a href="#" class="status completed"
                      ><i class="bx bx-detail"></i>Detail</a
                    >
                  </td>
                </tr>
                <tr>
                  <td>Kamis, 28 Sep 2023</td>
                  <td>12.30 - 17.45</td>
                  <td>Prihatin Oktivasari</td>
                  <td class="keterangan terlaksana">Terlaksana</td>
                  <td class="edit">
                    <a href="#" class="status completed"
                      ><i class="bx bx-detail"></i>Detail</a
                    >
                  </td>
                </tr>
                <tr>
                  <td>Kamis, 5 Okt 2023</td>
                  <td>12.30 - 17.45</td>
                  <td>Prihatin Oktivasari</td>
                  <td class="keterangan terlaksana">Terlaksana</td>
                  <td class="edit">
                    <a href="#" class="status completed"
                      ><i class="bx bx-detail"></i>Detail</a
                    >
                  </td>
                </tr>
                <tr>
                  <td>Kamis, 12 Okt 2023</td>
                  <td>12.30 - 17.45</td>
                  <td>Prihatin Oktivasari</td>
                  <td class="keterangan terjadwal">Terjadwal</td>
                  <td class="edit">
                    <a href="#" class="status completed"
                      ><i class="bx bx-detail"></i>Detail</a
                    >
                  </td>
                </tr>
                <tr>
                  <td>Kamis, 19 Okt 2023</td>
                  <td>12.30 - 17.45</td>
                  <td>Prihatin Oktivasari</td>
                  <td class="keterangan terjadwal">Terjadwal</td>
                  <td class="edit">
                    <a href="#" class="status completed"
                      ><i class="bx bx-detail"></i>Detail</a
                    >
                  </td>
                </tr>
              </tbody>
            </table>
            <div class="pagination">
              <button id="prev-page" disabled>
                <i class="bx bx-chevrons-left"></i>
              </button>
              <span id="current-page">Page 1</span>
              <button id="next-page">
                <i class="bx bx-chevrons-right"></i>
              </button>
            </div>
          </div>
        </div>
      </main>
    </div>
    <script src="index.js"></script>
    <script>
      document.addEventListener("DOMContentLoaded", function () {
        const savedTheme = localStorage.getItem("theme");
        if (savedTheme === "dark") {
          document.body.classList.add("dark");
          toggler.checked = true;
        }
      });

      const searchButtons = document.querySelectorAll(
        ".bottom-data .orders .header .search-btn"
      );
      const searchButtonIcons = document.querySelectorAll(
        ".bottom-data .orders .header .search-btn .bx"
      );
      const searchInputs = document.querySelectorAll(
        ".bottom-data .orders .header .search-input"
      );

      searchButtons.forEach((searchButton, index) => {
        const searchButtonIcon = searchButtonIcons[index];
        const searchInput = searchInputs[index];

        searchButton.addEventListener("click", function (e) {
          e.preventDefault();
          searchInput.classList.toggle("show");

          if (searchInput.classList.contains("show")) {
            searchButtonIcon.classList.replace("bx-search", "bx-x");
            searchInput.focus(); // Fokuskan input textfield setelah ditampilkan
          } else {
            searchButtonIcon.classList.replace("bx-x", "bx-search");
          }
        });
      });

      // filter & pagination
      const filterIcon = document.querySelector(".header .filter-dropdown i");
      const filterDropdown = document.querySelector(".header .filter-dropdown");
      const dataFilterSelect = document.getElementById("data-filter");
      const tableRows = document.querySelectorAll(
        ".bottom-data .orders table tbody tr"
      );
      const prevPageButton = document.getElementById("prev-page");
      const nextPageButton = document.getElementById("next-page");
      const currentPageSpan = document.getElementById("current-page");

      let currentPage = 1;
      let itemsPerPage = parseInt(dataFilterSelect.value);

      function updatePagination() {
        const totalPages = Math.ceil(tableRows.length / itemsPerPage);
        currentPageSpan.textContent = `Page ${currentPage}`;

        if (currentPage === 1) {
          prevPageButton.disabled = true;
        } else {
          prevPageButton.disabled = false;
        }

        if (currentPage === totalPages) {
          nextPageButton.disabled = true;
        } else {
          nextPageButton.disabled = false;
        }

        tableRows.forEach((row, index) => {
          if (
            index >= (currentPage - 1) * itemsPerPage &&
            index < currentPage * itemsPerPage
          ) {
            row.style.display = "";
          } else {
            row.style.display = "none";
          }
        });
      }

      filterIcon.addEventListener("click", function () {
        filterDropdown.classList.toggle("active");
      });

      dataFilterSelect.addEventListener("change", function () {
        itemsPerPage = parseInt(dataFilterSelect.value);
        currentPage = 1;
        updatePagination();
      });

      prevPageButton.addEventListener("click", function () {
        if (currentPage > 1) {
          currentPage--;
          updatePagination();
        }
      });

      nextPageButton.addEventListener("click", function () {
        const totalPages = Math.ceil(tableRows.length / itemsPerPage);
        if (currentPage < totalPages) {
          currentPage++;
          updatePagination();
        }
      });

      updatePagination();
    </script>
  </body>
</html>
