<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="{{url_for('static', filename='admin/rekap_absen.css')}}" />
    <link rel="stylesheet" href="{{url_for('static', filename='admin/SideMenu_Navbar.css')}}" />
    <title>Admin | Attendance Logs</title>
  </head>

  <body>
    <!-- Sidebar -->
    <div class="sidebar">
      <a href="#" class="logo">
        <img src="{{url_for('static', filename='images/logo.png')}}" alt="Logo SmarTandance" />
        <div class="logo-name"><span>Smartendance</span></div>
      </a>
      <ul class="side-menu">
        <li>
          <a href="{{url_for('user_ep.dashboard')}}"><i class="bx bxs-dashboard"></i>Dashboard</a>
        </li>
        <li>
          <a href="course.html"><i class="bx bxs-graduation"></i>Course</a>
        </li>
        <li>
          <a href="{{url_for('admin_ep.add')}}"><i class="bx bx-group"></i>Registration</a>
        </li>
        <li>
          <a href="#"><i class="bx bxs-door-open"></i>Class</a>
        </li>
        <li class="active">
          <a href="{{url_for('admin_ep.attendance')}}"><i class="bx bx-data"></i>Attendance Logs</a>
        </li>
        <li>
          <a href="#"><i class="bx bx-cog"></i>Settings</a>
        </li>
      </ul>
      <ul class="side-menu">
        <li>
          <a href="#" class="logout" id="logout-button">
            <i class="bx bx-log-out-circle"></i>
            Logout
          </a>
          <div class="confirmation-modal" id="confirmation-modal" data-logout-url="{{url_for('user_ep.logout')}}">
            <div class="modal-content">
              <h2>Logout Confirmation</h2>
              <p>You sure want to logout?</p>
              <div class="modal-buttons">
                <button id="confirm-logout">Yes</button>
                <button id="cancel-logout">No</button>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
    <!-- End of Sidebar -->

    <!-- Main Content -->
    <div class="content">
      <!-- Navbar -->
      <nav>
        <i class="bx bx-menu"></i>
        <form action="#">
          <div class="form-input">
            <input type="search" placeholder="Search..." />
            <button class="search-btn" type="submit">
              <i class="bx bx-search"></i>
            </button>
          </div>
        </form>
        <input type="checkbox" id="theme-toggle" hidden />
        <label for="theme-toggle" class="theme-toggle"> </label>
        <a href="#" class="profile">
          <img src="{{url_for('static', filename='images/profile_logo.png')}}" />
        </a>
      </nav>

      <!-- End of Navbar -->

      <main>
        <div class="header">
          <div class="left">
            <h1>Attendance Logs</h1>
            <ul class="breadcrumb">
              <li>
                <a href="{{url_for('admin_ep.attendance')}}" class="active">Attendance Logs</a>
              </li>
              /
            </ul>
          </div>
        </div>

        <div class="select-box">
          <label for="options-container" id="class">User Role</label>
          <div class="options-container" id="options-container">
            {% for role in roles %}
              <div class="option">
                <input
                  type="radio"
                  class="radio"
                  id="{{role}}"
                  name="role"
                  value="{{role}}"
                />
                  <label for="{{role}}">
                    {{role}}
                  </label>
                </div>
              {% endfor %}
          </div>

          <div class="selected">Choose a user role</div>

          <div class="search-box">
            <input type="text" placeholder="Search user role..." />
          </div>
        </div>

        <!-- Tabel Course Terdaftar -->
        <div class="bottom-data">
          <!-- coba -->
          <div class="orders" id="attendanceLogsContainer" style="display: none;">
            <div class="header">
              <i class="bx bx-calendar"></i>
              <h3>Attendance Logs</h3>
              <div class="filter-dropdown">
                <select id="data-filter">
                  <option value="5">5</option>
                  <option value="10">10</option>
                  <option value="15">15</option>
                </select>
                <i class="bx bx-filter"></i>
              </div>
              <input
                type="search"
                placeholder="Search..."
                class="search-input"
              />
              <button class="search-btn" type="submit">
                <i class="bx bx-search"></i>
              </button>
            </div>
            <table>
              <thead>
                <th>Name</th>
                <th>Course</th>
                <th>Room</th>
                <th>Time In</th>
                <th>Status</th>
              </thead>
              <tbody>
                <!-- Automatically added when the request is done -->
              </tbody>
            </table>
            <div class="pagination">
              <button id="prev-page" disabled>
                <i class="bx bx-chevrons-left"></i>
              </button>
              <span id="current-page">Page 1</span>
              <button id="next-page">
                <i class="bx bx-chevrons-right"></i>
              </button>
              <a href="#" class="status ekspor">
                <i class="bx bx-export"></i>Export
              </a>
            </div>
          </div>
          <!-- button export -->
          <!-- end -->
        </div>
      </main>
    </div>
    <script src="{{url_for('static', filename='admin/index.js')}}"></script>
    <script>
      document.addEventListener("DOMContentLoaded", function () {
        const savedTheme = localStorage.getItem("theme");
        if (savedTheme === "dark") {
          document.body.classList.add("dark");
          toggler.checked = true;
        }
      });

      function getAttendanceData(role) {
        role = role.trim(); // Trim leading and trailing spaces
        const attendanceLogsContainer = document.getElementById('attendanceLogsContainer');
      
        if (role) {
          fetch(`/admin/attendance/${role}/get`)
            .then((response) => response.json())
            .then((data) => {
              // Panggil fungsi untuk mengisi tabel dengan data
              populateTable(data.attendance);
              attendanceLogsContainer.style.display = 'block'; // Show attendance logs container
            })
            .catch((error) => {
              console.error('Error fetching attendance data:', error);
              attendanceLogsContainer.style.display = 'none'; // Hide attendance logs container on error
            });
        } else {
          attendanceLogsContainer.style.display = 'none'; // Hide attendance logs container when no role is selected
        }
      }
    
      // Fungsi untuk mengisi tabel dengan data absensi
      function populateTable(attendanceData) {
        const tableBody = document.querySelector(".bottom-data .orders table tbody");
        tableBody.innerHTML = ""; // Kosongkan isi tabel
    
        attendanceData.forEach((row) => {
          const newRow = document.createElement("tr");
          newRow.innerHTML = `
            <td>${row.name}</td>
            <td>${row.course}</td>
            <td>${row.room}</td>
            <td>${row.time_in}</td>
            <td>${row.status}</td>
          `;
          tableBody.appendChild(newRow);
        });
      }

      const searchButtons = document.querySelectorAll(
        ".bottom-data .orders .header .search-btn"
      );
      const searchButtonIcons = document.querySelectorAll(
        ".bottom-data .orders .header .search-btn .bx"
      );
      const searchInputs = document.querySelectorAll(
        ".bottom-data .orders .header .search-input"
      );

      searchButtons.forEach((searchButton, index) => {
        const searchButtonIcon = searchButtonIcons[index];
        const searchInput = searchInputs[index];

        searchButton.addEventListener("click", function (e) {
          e.preventDefault();
          searchInput.classList.toggle("show");

          if (searchInput.classList.contains("show")) {
            searchButtonIcon.classList.replace("bx-search", "bx-x");
            searchInput.focus(); // Fokuskan input textfield setelah ditampilkan
          } else {
            searchButtonIcon.classList.replace("bx-x", "bx-search");
          }
        });
      });

      const selected = document.querySelector(".selected");
      const optionsContainer = document.querySelector(".options-container");
      const searchBox = document.querySelector(".search-box input");
      const label = document.querySelector("#class");

      const optionsList = document.querySelectorAll(".option");

      optionsList.forEach((o) => {
        o.addEventListener("click", () => {
          const role = o.querySelector("label").innerHTML.trim();  // Trim leading and trailing spaces
          selected.innerHTML = role; // Mengganti teks yang ditampilkan di dropdown
      
          // Mendapatkan data absensi berdasarkan peran yang dipilih
          getAttendanceData(role);
      
          const radioInput = o.querySelector("input[type=radio]"); // Mendapatkan elemen radio terkait
          radioInput.checked = true; // Menandai elemen radio sebagai terkilih
          optionsContainer.classList.remove("active");
          searchBox.style.display = "none";
          searchBox.value = "";
          filterList("");

          // Export button
          const exportButton = document.querySelector(".ekspor");
          if (role === "STUDENT") {
            exportButton.href = "{{url_for('admin_ep.export_attendance', role='STUDENT')}}";
          } else if (role === "LECTURER") {
            exportButton.href = "{{url_for('admin_ep.export_attendance', role='LECTURER')}}";
          }
        });
      });
    
      // Menambahkan event listener untuk perubahan pada elemen radio input 'role'
      const roleRadioInputs = document.querySelectorAll("input[name='role']");
      roleRadioInputs.forEach((radioInput) => {
        radioInput.addEventListener("change", () => {
          const selectedRole = document.querySelector("input[name='role']:checked").value;
          selected.innerHTML = selectedRole;
    
          // Mendapatkan data absensi berdasarkan peran yang dipilih
          getAttendanceData(selectedRole);
        });
      });

      selected.addEventListener("click", () => {
        optionsContainer.classList.toggle("active");

        if (optionsContainer.classList.contains("active")) {
          searchBox.style.display = "block"; // Tampilkan input search saat options aktif
          searchBox.focus();
          label.style.display = "block";
        } else {
          searchBox.style.display = "none"; // Sembunyikan input search saat options tidak aktif
          searchBox.value = ""; // Hapus nilai input search
          filterList(""); // Hapus filter
          const selectedRadio = document.querySelector(
            "input[name='kelas']:checked"
          );
          if (selectedRadio) {
            label.style.display = "block";
          } else {
            label.style.display = "none";
          }
        }
      });

      optionsList.forEach((o) => {
        o.addEventListener("click", () => {
          selected.innerHTML = o.querySelector("label").innerHTML; // Mengganti teks yang ditampilkan di dropdown
          const radioInput = o.querySelector("input[type=radio]"); // Mendapatkan elemen radio terkait
          radioInput.checked = true; // Menandai elemen radio sebagai terpilih
          optionsContainer.classList.remove("active");
          searchBox.style.display = "none";
          searchBox.value = "";
          filterList("");
        });
      });

      searchBox.addEventListener("keyup", function (e) {
        filterList(e.target.value);
      });

      const filterList = (searchTerm) => {
        searchTerm = searchTerm.toLowerCase();
        optionsList.forEach((option) => {
          let label =
            option.firstElementChild.nextElementSibling.innerText.toLowerCase();
          if (label.indexOf(searchTerm) != -1) {
            option.style.display = "block";
          } else {
            option.style.display = "none";
          }
        });
      };

      // filter & pagination
      const filterIcon = document.querySelector(".header .filter-dropdown i");
      const filterDropdown = document.querySelector(".header .filter-dropdown");
      const dataFilterSelect = document.getElementById("data-filter");
      const tableRows = document.querySelectorAll(
        ".bottom-data .orders table tbody tr"
      );
      const prevPageButton = document.getElementById("prev-page");
      const nextPageButton = document.getElementById("next-page");
      const currentPageSpan = document.getElementById("current-page");

      let currentPage = 1;
      let itemsPerPage = parseInt(dataFilterSelect.value);

      function updatePagination() {
        const totalPages = Math.ceil(tableRows.length / itemsPerPage);
        currentPageSpan.textContent = `Page ${currentPage}`;

        if (currentPage === 1) {
          prevPageButton.disabled = true;
        } else {
          prevPageButton.disabled = false;
        }

        if (currentPage === totalPages) {
          nextPageButton.disabled = true;
        } else {
          nextPageButton.disabled = false;
        }

        tableRows.forEach((row, index) => {
          if (
            index >= (currentPage - 1) * itemsPerPage &&
            index < currentPage * itemsPerPage
          ) {
            row.style.display = "";
          } else {
            row.style.display = "none";
          }
        });
      }

      filterIcon.addEventListener("click", function () {
        filterDropdown.classList.toggle("active");
      });

      dataFilterSelect.addEventListener("change", function () {
        itemsPerPage = parseInt(dataFilterSelect.value);
        currentPage = 1;
        updatePagination();
      });

      prevPageButton.addEventListener("click", function () {
        if (currentPage > 1) {
          currentPage--;
          updatePagination();
        }
      });

      nextPageButton.addEventListener("click", function () {
        const totalPages = Math.ceil(tableRows.length / itemsPerPage);
        if (currentPage < totalPages) {
          currentPage++;
          updatePagination();
        }
      });

      updatePagination();
    </script>
  </body>
</html>
